/* 
  name: Volcanic Glass 
  version: 1.1.0
  author: thornling
  description: A transparent theme for Dark/Light mode (desktop only) */

/* variables */
:is(
  .mod-windows,
  .is-windows
) {
  --blur-window: blur(5px);
  --blur-overlay: blur(25px) saturate(150%) brightness(80%);
}
.theme-dark {
  --glass-window: rgba(0,0,0,0.3);
  --glass-modal: rgba(25,29,36,0.4);
  --glass-menu: rgba(0,0,0,0.7);

  --glass-window-inactive: rgba(255,255,255,0.1);
  
  --text-normal: rgba(255,255,255,1);
  --text-muted: rgba(255,255,255,0.68);
  --text-faint: rgba(255,255,255,0.25);

  --text-normal-inactive: rgba(255,255,255,0.8);  
  --text-muted-inactive: rgba(255,255,255,0.5);
  --text-embossed: rgba(0,0,0,0.9);

  --dropdown-color: rgba(20,20,20,1);

  --modal-boost: rgba(0,0,0,0.7);

  --background-modifier-hover: rgba(255,255,255,0.05);
  --interactive-hover: rgba(255,255,255,0.01);
  --interactive-normal: rgba(0,0,0,0.25);

  --inactive-gradient-1: rgba(255,255,255,0.12);
  --inactive-gradient-2: rgba(255,255,255,0.05);
  --inactive-gradient-3: rgba(255,255,255,0);

  --active-gradient-1: rgba(0,0,0,0.5);
  --active-gradient-2: rgba(0,0,0,0.7);
}
.theme-light {
  --glass-window: rgba(225,240,255,0.15);
  --glass-modal: rgba(225,240,255,0.3);
  --glass-menu: rgba(225,240,255,0.6);
  
  --glass-window-inactive: rgba(255,255,255,0.35);

  --text-normal: rgba(0,0,0,1);
  --text-muted: rgba(0,0,0,0.68);
  --text-faint: rgba(0,0,0,0.25);

  --text-normal-inactive: rgba(0,0,0,0.7);
  --text-muted-inactive: rgba(0,0,0,0.4);
  --text-embossed: rgba(0,0,0,0.8);

  --dropdown-color: rgba(230,230,230,1);

  --modal-boost: rgba(255,255,255,0.5);

  --background-modifier-hover: rgba(255,255,255,0.12);
  --interactive-hover: rgba(255,255,255,0.5);
  --interactive-normal: rgba(255,255,255,0.35);

  --inactive-gradient-1: rgba(255,255,255,0.45);
  --inactive-gradient-2: rgba(255,255,255,0.3);
  --inactive-gradient-3: rgba(255,255,255,0.15);

  --active-gradient-1: rgba(255,255,255,0.8);
  --active-gradient-2: rgba(255,255,255,0.5);
}
:is(
  .mod-windows,
  .is-windows
).theme-light {
  --modal-boost: rgba(255,255,255,0.1);
}
:is(
  .mod-macos,
  .is-macos
).theme-light {
  --modal-boost: rgba(255,255,255,0.7);
}
  /* base transparency */
body {
  --color-base-00: transparent;
  --background-primary: transparent;
  --background-primary-alt: transparent;
  --background-secondary: transparent;
  --background-secondary-alt: transparent !important;
  --workspace-background-translucent: transparent;
  --background-modifier-border: transparent;
    /* borders */
  --divider-width: 0px !important;
  --tab-divider-color: transparent;
  --tab-outline-width: 0px;
  --tab-outline-color: transparent;
  --border-bottom-color: transparent !important;
}

/* containers */
  /* app */
body.obsidian-app {
  background-color: var(--glass-window);
  backdrop-filter: var(--blur-window);
  -webkit-backdrop-filter: var(--blur-window);
}
  /* overlay */
    /* modal */
.modal,
.prompt,
.hover-popover,
[class*="suggestion-container"],
      /* mobile */
.workspace-drawer .mod,
.workspace-drawer-inner,
.mobile-toolbar-options-list,
.workspace-drawer-tab-options-list,
.is-mobile .mod-raised {
  backdrop-filter: var(--blur-overlay);
  -webkit-backdrop-filter: var(--blur-overlay);
  background-color: var(--glass-modal) !important;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255,255,255,0.03);
  box-shadow: 
    0 0 0 1px rgba(0,0,0,0.05),
    0 10px 20px rgba(0,0,0,0.15),
    0 20px 50px rgba(0,0,0,0.2),
    0 0 80px rgba(0,0,0,0.1) !important;
  transition: 
    background-color 0.3s ease,
    opacity 0.3s ease,
    box-shadow 0.3s ease;
}
:is(
  .mod-macos,
  .is-macos
) :is(
  .modal,
  .prompt,
  .hover-popover,
  [class*="suggestion-container"],
)::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  clip-path: inherit;
  background: var(--modal-boost);
}
    /* menu */
.menu,
.notice,
      /* mobile */
.mobile-navbar,
.native-menu,
.mobile-option-container {
  backdrop-filter: var(--blur-overlay);
  -webkit-backdrop-filter: var(--blur-overlay);
  background-color: var(--glass-menu) !important;
  border: none;
}	

/* workspace */
  /* inactive tabs */
    /* titles */
.mod-stacked .workspace-tab-header .workspace-tab-header-inner-title {
  color: var(--text-embossed);
  filter: drop-shadow(-0.5px 0.5px 0px rgba(255,255,255,0.1));
}
    /* icons */
.mod-top-left-space .workspace-tab-header:not(.is-active) *,
.mod-stacked :is(
  .workspace-tab-header,
  .workspace-leaf
):not(.mod-active)
  svg {	
  stroke-width: 2.5px;
  color: rgba(0,0,0,0.8);
  filter: drop-shadow(-0.5px 0.5px 0px rgba(255,255,255,0.1));
}
    /* x button */
.mod-stacked .workspace-tab-header:not(.is-active) .workspace-tab-header-inner-close-button {
  opacity: 0.7; 
}
.mod-stacked .workspace-tab-header:not(.is-active) .workspace-tab-header-inner-close-button:hover {
  opacity: 1;
}
  /* notes */
    /* title */
.mod-stacked .workspace-leaf:not(.mod-active) :has(
  .inline-title,
    /* content */
  .cm-content) {
  color: var(--text-normal-inactive);
}
.mod-stacked .workspace-leaf:not(.mod-active) .workspace-leaf-content:not(
  [data-type="file-explorer"],
  [data-type="search"],
  [data-type="bookmark"],
  [data-type="backlink"],
  [data-type="outgoing-link"],
  [data-type="tag"],
  [data-type="outline"]
) {
  --text-normal: var(--text-normal-inactive);
  --text-muted: var(--text-muted-inactive);
  --view-header-title-color: var(--text-normal-inactive);
}
      /* code and table fix */
.mod-stacked .workspace-leaf:not(.mod-active) :is(
  .cm-inline-code, 
  .HyperMD-codeblock,
  .table-editor th, 
  .table-editor td
) {
  color: var(--text-muted-inactive);
}
      /* border fix */
.cm-line hr {
  --background-modifier-border: var(--text-muted);
  border-top: 1px solid var(--background-modifier-border) !important;
}
      /* accent colors */
.workspace-leaf:not(.mod-active) .cm-content :is(.cm-link, .cm-underline, .external-link, .internal-link) {
  color: var(--link-color);
  filter: opacity(0.6) saturate(0.7);
}
  /* stacked */
    /* leaf */
.mod-stacked .workspace-leaf-content:not(
  [data-type="file-explorer"],
  [data-type="search"],
  [data-type="bookmark"],
  [data-type="backlink"],
  [data-type="outgoing-link"],
  [data-type="tag"],
  [data-type="outline"]
) {
  background: linear-gradient(
    140deg,
    var(--inactive-gradient-1) 0%,
    var(--inactive-gradient-2) 90%,
    var(--inactive-gradient-3) 100%);
  background-color: var(--glass-modal);
  backdrop-filter: var(--blur-overlay);
  -webkit-backdrop-filter: var(--blur-overlay);
  transition: 
    background-color 0.3s ease,
    opacity 0.3s ease,
    box-shadow 0.3s ease;
}
:is(
  .mod-macos,
  .is-macos
).theme-dark .mod-stacked .workspace-leaf-content:not(
  [data-type="file-explorer"],
  [data-type="search"],
  [data-type="bookmark"],
  [data-type="backlink"],
  [data-type="outgoing-link"],
  [data-type="tag"],
  [data-type="outline"]
)::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  clip-path: inherit;
  background: var(--glass-menu);
}
:is(
  .mod-macos,
  .is-macos
).theme-light .mod-stacked .workspace-leaf-content:not(
  [data-type="file-explorer"],
  [data-type="search"],
  [data-type="bookmark"],
  [data-type="backlink"],
  [data-type="outgoing-link"],
  [data-type="tag"],
  [data-type="outline"]
)::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  clip-path: inherit;
  background: var(--modal-boost);
  opacity: 0.9;
}
      /* active */
.mod-stacked .workspace-leaf.mod-active:has(.workspace-leaf-content:not(
  [data-type="file-explorer"],
  [data-type="search"],
  [data-type="bookmark"],
  [data-type="backlink"],
  [data-type="outgoing-link"],
  [data-type="tag"],
  [data-type="outline"]
)) {
  background: linear-gradient(
    140deg,
    var(--active-gradient-1) 0%,
    var(--active-gradient-2) 100%);
  background-color: var(--glass-modal);
  opacity: 0.8;
  clip-path: inset(-100px -100px -100px 0px);
  box-shadow: 
    0 0 0 1px rgba(0,0,0,0.1),
    0 10px 20px rgba(0,0,0,0.5),
    0 20px 50px rgba(0,0,0,0.4),
    0 0 80px rgba(0,0,0,0.8);
}
.theme-dark .mod-stacked .workspace-leaf.mod-active:has(.workspace-leaf-content:not(
  [data-type="file-explorer"],
  [data-type="search"],
  [data-type="bookmark"],
  [data-type="backlink"],
  [data-type="outgoing-link"],
  [data-type="tag"],
  [data-type="outline"]
))::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  clip-path: inherit;  
  background: var(--modal-boost);
}
    /* spine */
.mod-stacked .workspace-tab-header {
  background-color: var(--glass-window-inactive) !important;
  box-shadow: 
    -5px 0 15px -5px rgba(0,0,0,0.1),
    -6px 0 10px -4px rgba(0,0,0,0.2) !important;
  backdrop-filter: var(--blur-overlay);
  -webkit-backdrop-filter: var(--blur-overlay);
  border-radius: 4px 0 0 4px !important;
  border-left: 1px solid rgba(255,255,255,0.1);
  transition: 
    background-color 0.3s ease,
    opacity 0.3s ease,
    box-shadow 0.3s ease;
}
:is(
  .mod-macos,
  .is-macos
) .mod-stacked .workspace-tab-header-inner {
  background-color: var(--glass-modal);
}
      /* active */
.mod-stacked .workspace-tab-header:has(+ .workspace-leaf.mod-active) {
  background-color: var(--glass-modal) !important;
  clip-path: inset(-100px 0px -100px -100px);
  box-shadow: 
    0 0 0 1px rgba(0,0,0,0.1),
    0 10px 20px rgba(0,0,0,0.3),
    0 20px 50px rgba(0,0,0,0.2),
    0 0 80px rgba(0,0,0,0.4) !important;
}
:is(
  .mod-macos,
  .is-macos
).theme-light .mod-stacked .workspace-tab-header:has(
  + .workspace-leaf.mod-active
) .workspace-tab-header-inner {
  background-color: var(--modal-boost) !important;
}
        /* title */
.mod-stacked .workspace-tab-header:has(+ .workspace-leaf.mod-active) .workspace-tab-header-inner-title {
  color: var(--text-normal);
  filter: none;
}
        /* icons */
.mod-stacked .workspace-tab-header:has(+ .workspace-leaf.mod-active)
  svg {
  color: var(--text-normal);
  stroke-width: 2px;
  filter: none;
}

/* interactive */
  /* status bar */
.status-bar {
  background-color: var(--glass-modal);
  backdrop-filter: var(--blur-overlay);
  -webkit-backdrop-filter: var(--blur-overlay);
}
  /* input box */
body :is(
textarea, 
.multi-select-container, 
input.metadata-input-text, 
input:is(
  [type='date'], 
  [type='datetime-local'], 
  [type='text'], 
  [type='search'], 
  [type='email'], 
  [type='password'], 
  [type='number']))  {
  background-color: var(--glass-window);
  backdrop-filter: var(--blur-overlay);
  -webkit-backdrop-filter: var(--blur-overlay);
  box-shadow: 
    inset 0 4px 8px rgba(0,0,0,0.3),
    inset 0 1px 3px rgba(0,0,0,0.2),
    0 1px 1px rgba(255,255,255,0.1);
  transition: 
    background-color 0.2s ease,
    box-shadow 0.2s ease;
}
    /* focus */
:is(
  textarea, 
  .multi-select-container, 
  input:is(
    .metadata-input-text, 
    [type])
) :is(
  :active, 
  :focus, 
  :focus-visible
) {
  background-color: var(--glass-modal);
  box-shadow: 
    inset 0 5px 12px rgba(0,0,0,0.4),
    0 0 0 1px rgba(255,255,255,0.1);
}
  /* dropdown menu */
.dropdown option {
  background-color: var(--dropdown-color);
}
  /* tables */
.table-cell-wrapper {
  background-color: var(--glass-window);
  overflow: hidden;
  border: 1px solid var(--glass-menu) !important;
  box-shadow: 
  inset 0px 0px 15px 2px rgba(0,0,0,0.2),
  inset 0px 0px 5px 1px rgba(0,0,0,0.4),
  0 1px 1px rgba(255,255,255,0.1);
}
.table-editor th:first-child .table-cell-wrapper { 
  border-top-left-radius: 4px; 
}
.table-editor th:last-child .table-cell-wrapper { 
  border-top-right-radius: 4px; 
}
.table-editor tr:last-child td:first-child .table-cell-wrapper { 
  border-bottom-left-radius: 4px; 
}
.table-editor tr:last-child td:last-child .table-cell-wrapper { 
  border-bottom-right-radius: 4px; 
}
.markdown-source-view.mod-cm6 .cm-table-widget .table-row-btn {
  overflow: hidden;
  border-radius: 0 0 4px 4px;
  background-color: var(--glass-window);
}
.markdown-source-view.mod-cm6 .cm-table-widget .table-col-btn {
  overflow: hidden;
  border-radius: 0 4px 4px 0;
  background-color: var(--glass-window);
}
    /* embed */
.markdown-preview-view table {
  background-color: var(--glass-window);
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 
    inset 0px 0px 15px 2px rgba(0,0,0,0.2),
    inset 0px 0px 5px 1px rgba(0,0,0,0.4),
    0 1px 1px rgba(255,255,255,0.1);
}
.markdown-preview-view th, 
.markdown-preview-view td {
    border: 1px solid var(--glass-menu) !important;
}

/* specific elements */
  /* base header */
.bases-table-header-label {
  color: var(--text-normal);
  filter: drop-shadow(-0.5px 0.5px 0px rgba(255,255,255,0.1));
}
.bases-thead {
  backdrop-filter: var(--blur-overlay);
  -webkit-backdrop-filter: var(--blur-overlay);
  background-color: var(--glass-window);
  width: calc(100% - 16px) !important; 
  margin-left: 8px;
  margin-right: 8px;
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.2),
    0 6px 6px rgba(0, 0, 0, 0.15),
    0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255,255,255,0.03);
}
.theme-dark .bases-thead::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  clip-path: inherit;
  border-radius: 4px;
  background: var(--glass-modal);
}
  /* canvas */
.canvas-card-menu,
.canvas-controls .canvas-control-group.mod-raised {
  backdrop-filter: var(--blur-overlay);
  -webkit-backdrop-filter: var(--blur-overlay);
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255,255,255,0.1);
  background-color: transparent;
  box-shadow: 
    0 1px 4px rgba(0,0,0,0.2),
    0 0 0 1px rgba(0,0,0,0.01);
}
.canvas-node-container {
  background-color: var(--glass-modal);
  backdrop-filter: var(--blur-overlay);
  -webkit-backdrop-filter: var(--blur-overlay);
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  border-top: 0.1px solid rgba(255,255,255,0.2);
  box-shadow: 
    0 10px 20px rgba(0,0,0,0.5);
}
.canvas-node-placeholder::after {
  background-color: transparent;
}
    /* embed */
svg.canvas-minimap {
  background-color: var(--glass-menu);
  backdrop-filter: var(--blur-overlay);
  -webkit-backdrop-filter: var(--blur-overlay);
  box-shadow: 
    inset 0 4px 10px rgba(0,0,0,0.4),
    inset 0 1px 8px rgba(0,0,0,0.3),
    0 1px 1px rgba(255,255,255,0.1);
  border-radius: 4px;
  transition: 
    background-color 0.2s ease,
    box-shadow 0.2s ease;
}
svg.canvas-minimap path {
  stroke: var(--glass-window-inactive);
}
svg.canvas-minimap rect {
  fill: var(--text-faint);
  filter: drop-shadow(0 2px 8px rgba(0,0,0,0.4));
}