/* 
  name: volcanic glass 
  version: 1.0.1
  author: thornling
  description: a transparent theme for dark/light mode (windows only) */


/* variables */
.theme-dark, .theme-light {
  --blur-window: blur(5px);
  --blur-overlay: blur(25px) saturate(150%) brightness(80%);
  --text-normal-reversed: rgba(0,0,0,0.9);
}
.theme-dark {
  --glass-window: rgba(0,0,0,0.3);
  --glass-modal: rgba(25,29,36,0.4);
  --glass-menu: rgba(0,0,0,0.6);

  --glass-window-light: rgba(255,255,255,0.1);
  --glass-window-frosted: rgba(30,30,30,0.7);
  
  --text-normal: rgba(255,255,255,1);
  --text-muted: rgba(255,255,255,0.68);
  --text-faint: rgba(255,255,255,0.25);

  --text-normal-dull: rgba(20,20,20,1);
  --text-muted-reversed: rgba(0,0,0,0.7);
  --text-embossed: rgba(0,0,0,0.9);

  --background-modifier-hover: rgba(255,255,255,0.05);
  --interactive-hover: rgba(255,255,255,0.01);
  --interactive-normal: rgba(0,0,0,0.25);

  --inactive-gradient-1: rgba(255,255,255,0.12);
  --inactive-gradient-2: rgba(255,255,255,0.05);
  --inactive-gradient-3: rgba(255,255,255,0);

  --active-gradient-1: rgba(0,0,0,0.5);
  --active-gradient-2: rgba(0,0,0,0.7);
}
.theme-light {
  --glass-window: rgba(225,240,255,0.15);
  --glass-modal: rgba(225,240,255,0.3);
  --glass-menu: rgba(225,240,255,0.6);
  
  --glass-window-light: rgba(255,255,255,0.35);
  --glass-window-frosted: rgba(255,255,255,0.8);

  --text-normal: rgba(0,0,0,1);
  --text-muted: rgba(0,0,0,0.68);
  --text-faint: rgba(0,0,0,0.25);

  --text-normal-dull: rgba(230,230,230,1);
  --text-muted-reversed: rgba(0,0,0,0.4);
  --text-embossed: rgba(0,0,0,0.8);

  --background-modifier-hover: rgba(255,255,255,0.12);
  --interactive-hover: rgba(255,255,255,0.5);
  --interactive-normal: rgba(255,255,255,0.35);

  --inactive-gradient-1: rgba(255,255,255,0.45);
  --inactive-gradient-2: rgba(255,255,255,0.3);
  --inactive-gradient-3: rgba(255,255,255,0.15);

  --active-gradient-1: rgba(255,255,255,0.8);
  --active-gradient-2: rgba(255,255,255,0.5);
}
  /* base transparency */
.theme-dark, .theme-light {
  --color-base-00: transparent !important;
  --background-primary: transparent !important;
  --background-primary-alt: transparent !important;
  --background-secondary: transparent !important;
  --background-secondary-alt: transparent !important;
  --workspace-background-translucent: transparent !important;
  --background-modifier-border: transparent;
}

/* containers */
  /* app */
body.obsidian-app {
  background-color: var(--glass-window) !important;
  -webkit-backdrop-filter: var(--blur-window) !important;
  backdrop-filter: var(--blur-window) !important;
}
  /* overlay */
    /* modal */
.modal,
.prompt,
.suggestion-container,
/* mobile */
.workspace-drawer .mod,
.workspace-drawer-inner {
  -webkit-backdrop-filter: var(--blur-overlay) !important;
  backdrop-filter: var(--blur-overlay) !important;
  background-color: var(--glass-modal) !important;
  box-shadow: 
    0 0 0 1px rgba(0,0,0,0.2),
    0 10px 20px rgba(0,0,0,0.3),
    0 20px 50px rgba(0,0,0,0.25),
    0 0 80px rgba(0,0,0,0.15) !important;
  transition: 
    background-color 0.3s ease,
    opacity 0.3s ease,
    box-shadow 0.3s ease !important;
}
    /* menu */
.menu,
.prompt-input-container:hover .prompt-input,
/* plugin elements */
.subitem,
.x-color-picker-wrapper {
  -webkit-backdrop-filter: var(--blur-overlay) !important;
  backdrop-filter: var(--blur-overlay) !important;
  background-color: var(--glass-menu);
}	

/* workspace */
  /* inactive tabs */
    /* titles */
.mod-stacked .workspace-tab-header .workspace-tab-header-inner-title,
.workspace-tab-header:not(.is-active) .workspace-tab-header-inner-title {
  color: var(--text-embossed) !important;
  filter: drop-shadow(-0.5px 0.5px 0px rgba(255,255,255,0.1));
}
    /* icons */
.mod-stacked .workspace-tab-header .workspace-tab-header-inner-icon svg,
.mod-stacked .workspace-tab-header .workspace-tab-header-inner-close-button svg,
.mod-stacked .workspace-leaf:not(.mod-active) .view-header-nav-buttons .clickable-icon svg,
.workspace-tab-header:not(.is-active) .workspace-tab-header-inner-icon svg,
.workspace-tab-header:not(.is-active) .workspace-tab-header-inner-close-button svg {
  stroke-width: 2.5px !important;
  color: var(--text-muted-reversed) !important;
  filter: drop-shadow(-0.5px 0.5px 0px rgba(255,255,255,0.1)) !important;
}
    /* x button */
.mod-stacked .workspace-tab-header:not(.is-active) .workspace-tab-header-inner-close-button {
  opacity: 0.7; 
}
.mod-stacked .workspace-tab-header:not(.is-active) .workspace-tab-header-inner-close-button:hover {
    opacity: 1;
}
  /* notes */
    /* title */
.mod-stacked .workspace-leaf:not(.mod-active) .inline-title,
    /* content */
.mod-stacked .workspace-leaf:not(.mod-active) .cm-content {
  color: var(--text-normal-reversed) !important;
}
.mod-stacked .workspace-leaf:not(.mod-active) .workspace-leaf-content:is([data-type="markdown"], [data-type="canvas"], [data-type="bases"], [data-type="graph"], [data-type="empty"]) {
  --text-normal: var(--text-normal-reversed) !important;
  --text-muted: var(--text-muted-reversed) !important;
  --view-header-title-color: var(--text-normal-reversed) !important;
}
      /* code and table fix */
.mod-stacked .workspace-leaf:not(.mod-active) :is(
  .cm-inline-code, 
  .HyperMD-codeblock,
  .table-editor th, 
  .table-editor td
) {
  color: var(--text-muted-reversed) !important;
}
      /* border fix */
.cm-line hr {
  --background-modifier-border: var(--text-muted);
  border: none !important;
  border-top: 1px solid var(--background-modifier-border) !important;
  display: block !important;
  opacity: 1 !important;
  width: 100% !important;
}
      /* accent colors */
.workspace-leaf:not(.mod-active) .cm-content :is(.cm-link, .cm-underline, .external-link, .internal-link) {
  color: var(--link-color) !important;
  filter: opacity(0.6) saturate(0.7) !important;
}
  /* stacked */
    /* leaf */
.mod-stacked .workspace-leaf-content:is([data-type="markdown"], [data-type="canvas"], [data-type="bases"], [data-type="graph"], [data-type="empty"]) {
  background: linear-gradient(
    140deg,
    var(--inactive-gradient-1) 0%,
    var(--inactive-gradient-2) 90%,
    var(--inactive-gradient-3) 100%
  ) !important;
  -webkit-backdrop-filter: var(--blur-overlay) !important;
  backdrop-filter: var(--blur-overlay) !important;
  transition: 
    background-color 0.3s ease,
    opacity 0.3s ease,
    box-shadow 0.3s ease !important;
}

      /* active */
.mod-stacked .workspace-leaf.mod-active:has(.workspace-leaf-content:is([data-type="markdown"], [data-type="canvas"], [data-type="bases"], [data-type="graph"], [data-type="empty"])) {
  background: linear-gradient(
    140deg,
    var(--active-gradient-1) 0%,
    var(--active-gradient-2) 100%
  ) !important;
  background-color: var(--glass-window) !important;
  clip-path: inset(-100px -100px -100px 0px);
  box-shadow: 
    0 0 0 1px rgba(0,0,0,0.1),
    0 10px 20px rgba(0,0,0,0.5),
    0 20px 50px rgba(0,0,0,0.4),
    0 0 80px rgba(0,0,0,0.8) !important;
}
    /* spine */
.mod-stacked .workspace-tab-header {
  background-color: var(--glass-window-light) !important;
  box-shadow: 
    inset 1px 0 0 rgba(255,255,255,0.3),
    inset -1px 0 0 rgba(0,0,0,0.3),
    -5px 0 15px -5px rgba(0,0,0,0.3),
    -6px 0 10px -4px rgba(0,0,0,0.5);
  -webkit-backdrop-filter: var(--blur-overlay) !important;
  backdrop-filter: var(--blur-overlay) !important;
  border-radius: 4px 0 0 4px !important;
  border-left: 1px solid rgba(255,255,255,0.1) !important;
  transition: 
    background-color 0.3s ease,
    opacity 0.3s ease,
    box-shadow 0.3s ease !important;
}
      /* active */
.mod-stacked .workspace-tab-header:has(+ .workspace-leaf.mod-active) {
  background-color: var(--glass-window-frosted) !important;
  clip-path: inset(-100px 0px -100px -100px);
  box-shadow: 
    0 0 0 1px rgba(0,0,0,0.1),
    0 10px 20px rgba(0,0,0,0.3),
    0 20px 50px rgba(0,0,0,0.2),
    0 0 80px rgba(0,0,0,0.4) !important;
}
        /* title */
.mod-stacked .workspace-tab-header:has(+ .workspace-leaf.mod-active) .workspace-tab-header-inner-title {
  color: var(--text-normal) !important;
  filter: none !important;
}
        /* icons */
.mod-stacked .workspace-tab-header:has(+ .workspace-leaf.mod-active) .workspace-tab-header-inner-icon svg,
.mod-stacked .workspace-tab-header:has(+ .workspace-leaf.mod-active) .workspace-tab-header-inner-close-button svg {
  color: var(--text-normal) !important;
  stroke-width: 2px !important;
  filter: none !important;
}

/* interactive */
  /* status bar */
.status-bar {
  background-color: var(--glass-modal) !important;
  -webkit-backdrop-filter: var(--blur-overlay) !important;
  backdrop-filter: var(--blur-overlay) !important;
}
  /* input box */
.setting-item-control input[type="text"],
.setting-item-control input[type="text"]:disabled,
.search-input-container input[type="search"],
.search-input-container.document-search-input input[type="text"],
.document-replace-input {
  background-color: var(--glass-window) !important;
  backdrop-filter: blur(15px) saturate(180%) !important;
  -webkit-backdrop-filter: blur(15px) saturate(180%) !important;
  box-shadow: 
    inset 0 4px 8px rgba(0,0,0,0.3),
    inset 0 1px 3px rgba(0,0,0,0.2),
    0 1px 1px rgba(255,255,255,0.1) !important;
  transition: 
    background-color 0.2s ease,
    box-shadow 0.2s ease !important;
}
    /* focus */
.setting-item-control input[type="text"]:focus,
.search-input-container input[type="search"]:focus,
.search-input-container.document-search-input input[type="text"]:focus,
.document-replace-input:focus {
  background-color: var(--glass-modal) !important;
  box-shadow: 
    inset 0 5px 12px rgba(0,0,0,0.4),
    0 0 0 1px rgba(255,255,255,0.1) !important;
}
  /* dropdown menu */
.dropdown option {
  background-color: var(--text-normal-dull) !important;
}
  /* tables */
.cm-embed-block.cm-table-widget .table-wrapper {
  background-color: var(--glass-window) !important;
  border-radius: 2px;
  overflow: hidden; 
  box-shadow: 
    inset 0px 0px 15px 2px rgba(0,0,0,0.2),
    inset 0px 0px 5px 1px rgba(0,0,0,0.4),
    0 1px 1px rgba(255,255,255,0.1) !important;
}
.table-editor {
    background-color: transparent !important;
    border-collapse: collapse !important;
}
.table-editor th,
.table-editor td {
  border: 1px solid var(--text-muted-reversed) !important;
  background-color: transparent !important;
}
  /* text areas */
textarea.file-recovery-text,
.setting-item-control textarea {
  background-color: var(--glass-window)
}

/* specific elements */
  /* base header */
.bases-thead .bases-tr,
.bases-thead .bases-td {
  overflow: visible !important;
}
.bases-table-header {
  -webkit-backdrop-filter: var(--blur-overlay) !important;
  backdrop-filter: var(--blur-window) !important;
  background-color: var(--glass-window) !important;
  clip-path: inset(-100px -100px -100px -100px);
  box-shadow: 
    0 1px 4px rgba(0,0,0,0.3),
    0 0 0 1px rgba(0,0,0,0.15);
  border-radius: 4px !important;
  border: 1px solid rgba(255,255,255,0.1) !important;
  border-bottom: 1px solid rgba(0,0,0,0.2) !important;
}
  /* canvas buttons */
.canvas-control-group.mod-raised,
.canvas-controls .canvas-control-group.mod-raised {
  -webkit-backdrop-filter: var(--blur-overlay) !important;
  backdrop-filter: var(--blur-overlay) !important;
  background-color: transparent;
}